name: Build and Deploy

on:
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: satackey/action-docker-layer-caching@v0.0.11
      continue-on-error: true

    - name: Environment
      env:
        ENV_FILE: ${{ secrets.ENV_FILE }}
      run: |
        echo "$ENV_FILE" > .env
        echo "" >> .env
        echo "$GITHUB_SHA" > .commit_hash

    - name: Build
      run: |
        docker login docker.pkg.github.com --username $GITHUB_ACTOR --password ${{ secrets.GITHUB_TOKEN }}
        docker build --pull --target php --file docker/Dockerfile --tag "docker.pkg.github.com/$GITHUB_REPOSITORY/php" .
        docker build --pull --target nginx --file docker/Dockerfile --tag "docker.pkg.github.com/$GITHUB_REPOSITORY/nginx" .
        docker push "docker.pkg.github.com/$GITHUB_REPOSITORY/php"
        docker push "docker.pkg.github.com/$GITHUB_REPOSITORY/nginx"

    - name: Test
      run: |
        docker run "docker.pkg.github.com/$GITHUB_REPOSITORY/php" php artisan test

    - name: Deploy - Copy files
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USER }}
        key: ${{ secrets.KEY }}
        source: ".env,docker-compose.yml,cron.json"
        target: ${{ secrets.PATH }}

    - name: Deploy - Rebuild Container
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USER }}
        key: ${{ secrets.KEY }}
        script: |
          docker login docker.pkg.github.com --username ${{ github.repository_owner }} --password ${{ secrets.GITHUB_TOKEN }}
          cd ${{ secrets.PATH }} && docker-compose pull && docker-compose up -d --remove-orphans

    - name: Deploy - Migrate DB
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USER }}
        key: ${{ secrets.KEY }}
        script: |
          cd ${{ secrets.PATH }} && docker-compose exec -T sec php artisan migrate --force
